*{
    margin: 0%;
    padding: 0%;
    box-sizing: border-box;
}


.sidebar{
    width: 200px;
    height: 950px;
    border: 1px solid grey;
    padding-left: 0%;
    padding-right: 1px;
}
img, .pinguino{
    width: 50px;
}
a{
    color:#2b2b2b ;

}
a:hover{
    color: #2b2bb2;
}